@import 'media-query';

section {
    height: 600px;
    margin: 5%;
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 140px 140px;
    justify-items: center;

    @include mobile {
        height: 320px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: 80px 80px;
        grid-gap: 40px;
    }
    div {
        width: 250px;
        height: 250px;
        background-color: $primary-color;

        @include mobile {
            width: 80px;
            height: 80px;
        }
    }
    
    img {
        width: 245px;
        height: 245px;

        @include mobile {
            width: 75px;
            height: 75px;
        }
    }
}